/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font global (opsional) */
body {
  font-family: 'Segoe UI', sans-serif; /* Ganti dengan font favoritmu */
}

/* Navbar */
.navbar {
  background-color: #00B0F0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed; /* agar navbar diam saat scroll */
  font-size: 12px;
  font-family: 'Segoe UI', sans-serif; /* Font navbar */
  color: white;                        /* Warna font navbar */
}

/* Brand (logo + nama sekolah) */
.navbar-brand {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 9px; /* ukuran font nama sekolah */
  color: white;
  font-family: 'Georgia', serif;       /* Font nama sekolah */

}

.navbar-brand img {
  height: 40px;
  margin-right: 10px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 16px;                     /* Ukuran font menu */
  font-family: 'Arial', sans-serif;   /* Font menu */
}

.navbar-menu li a:hover {
  background-color: #008CBA;
  color: yellow;                       /* Warna saat hover */
}

/* Banner */
.banner {
  margin-top: 2px; /* jarak 2px dari navbar */
}

.banner img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* Konten */
.content {
  padding: 30px;
  text-align: center;
}


