/* Navbar */
.navbar {
  background-color: #00B0F0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
}

.navbar-brand .logo {
  height: 40px;
  margin-right: 10px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  position: relative;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.navbar-menu a:hover {
  background-color: #008CBA;
}

/* Dropdown */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #00B0F0;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 180px;
}

.dropdown-menu li a {
  padding: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Banner */
.banner img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* Konten */
.content {
  text-align: center;
  margin-top: 20px;
}
